
{% load static %}

    {% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}

{% block body %}
    <div class="formulario">
        <h1>Inicio de sesion</h1>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label for="txtUser">Nombre de Usuario</label>
                
            </div>
            <div class="username">
                <input  type="password" class="form-control" required>
                <label >Contrasena</label>
                
            </div>    
            <div class="recordar">
                    Olvido su contrasena?
            </div>    
                <input type="submit" value="Iniciar">
            <div class="registrarse">
                    No estas registrado? <a href="Register.html">registrarse</a>
            </div>
            <div class="volver_inicio">
                    Volver al  <a href="inicio">Inicio</a>
            </div>
        </form>
    </div>
    {% endblock %}